{% extends "layout.html" %}
{% block jumbotron%}
{%if name %}
    <h1>Hi, {{name}}</h1>
{%endif%}
{%if message %}
    <p class="lead">{{message}}</p>
{%endif%}
{%if email %}
    <p class="lead"><i>{{email}}</i></p>
{%endif%}
{%if expires_in_utc %}
    <p class="lead"><i>It is expired in {{expires_in_utc}} (UTC)</i></p>
{%endif%}
{%if status == 'linkedin_error'%}
    <a class="btn btn-large btn-success" href="/signup">OAuth retry</a>
{%endif%}
<p class="lead">Yours Securely,<br>-The Cloudioh Team</p>
{% endblock %}
